@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --wrapper-bg: #191C23;
  --green-color: #00FF57;

  --navbar-bg: #00ff57;
  --navbar-bg-hover: #00ff57;
  --navbar-text: #fff;
  --navbar-text-hover: #191C23;
  --navbar-text-bg: #191C23;
  --navbar-text-bg-hover: #fff;
  --navbar-hover-color: #afb6bb24;
  --navMenu-color: #172a2e7e;
  --navMenu-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

  --sidebar-bg: #0d3a3a87;
  
  --container-height: calc(100vh - 96px);
  --socialbar-position-sm: calc(10vh / 2);
  --socialbar-position: calc((100vh - 1382px) / 2);

  --inner-container-height-lg: calc(100vh - 102px);
  --inner-container-height-md: calc(100vh - 96px);
  --inner-container-height: calc(100vh - 86px); 
}

.wrapper-bg {
  background-color: #130f40;
/* background-image: linear-gradient(315deg, #0f4039 0%, #040c16 74%); */
background-image: linear-gradient(265deg, #045737 0%, #050b19 64%);
}

*::-webkit-scrollbar {
display: none;
}
